@font-face {
	font-family: archivo; 
	src: url('archivo-regular.ttf');
}
.pagina1 {
	width: 1000px;
	height: auto;
	margin: 0 auto;
}
.logo {

}
ul {
	font-size: 12px;
	width: 950px;
	padding: 15px;
	background-color: #222931;
	position: absolute;
	list-style-type: none;
}
li {
	color: white;
	display: inline;
	padding-left: 20px;
}